<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Profile</h1>
            <% include ./partials/messages %>

            <div class="text-center mb-3">

                    <a href="/users/camera" class="btn btn-secondary">Camera</a>
                    <a href="/users/profile" class="btn btn-secondary">Profile</a>
                    <a href="/users/dashboard" class="btn btn-secondary">Home</a>
                    <a href="/users/logout" class="btn btn-secondary">Logout</a>
                    <a href="/users/accountimg" class="btn btn-primary">My Pictures</a>
                
            </div>
        </div>
    </div>
</div>
            
            <% if (images.length > 0) { %>
                <% for (let image of images.reverse()) {%>
                    
                    <div style="margin-left: auto; margin-right: auto; display: block; max-width: 37.8%; border:10px solid darkgray;">
                        <img src="<%= image.image %>" alt="">
                        <form action="/users/delete-img" method="POST">
                            <input type="hidden" name="imageId" value="<%= image._id %>">
                            <button class="btn-primary btn-block" type="submit">Delete Image</button>
                        </form>
                        <p>Likes: <%= image.likes %></p>
                    </div>
                    &nbsp;
                <%}%>

            <%}%>